@model IEnumerable<MVC2.Models.Comment>

@foreach (var item in Model)
{

    <div class="media">
        <a class="pull-left" href="#">
            <img class="media-object" src="/griny/images/team.jpg">
        </a>
        <div class="media-body">
            <div class="clearfix">
                <h4 class="media-heading">@Html.DisplayFor(modelItem => item.Author.FirstName) @Html.DisplayFor(modelItem => item.Author.LastName)</h4>
                <p>@Html.DisplayFor(modelItem => item.Body)</p>

                @*<a href="#" class="pull-right"><i class="icon-share-alt"></i> Reply</a>*@
                <time id="sdat" class="pull-left">@item.Created.ToLocalTime().ToString("MM/dd/yyyy  h:mm")</time>


                @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                {
                    <div class="pull-right">
                        <a>
                            @Html.ActionLink("Edit", "Edit", "Comments", new { id = item.Id }, null) |
                            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
}






